.App{
  background-color: #eff2f5;

}

.Menuicons:hover{
    background-color: rgba(240, 242, 245, 0.875);
}

.Menuicons button{
    border: none;
    border-radius: 8px;
}
.Menubutt{
  border-radius: 5px;
  padding: 0 0px;
}
.Menubutt:hover{
  background-color: rgb(228,230,233);
  cursor: pointer;
 
}

.search-input {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
  
  .search-input input {
    width: 0;
    padding: 0;
    border: none;
    outline: none;
  }
  
  .search-input.open {
    max-height: 100px; /* Adjust the value as needed for your design */
  }
  
  .search-input.open input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .srow:hover{
    background-color: rgb(228,230,233);
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
  }

  .story {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.74);
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 5px;
    transition: transform 150ms ease-in;
    cursor: pointer;

  }
  
  .story:hover {
    transform: scale(1.07);
  }
  
  .story_avatar {
    margin:5 5px;
    border: 3px solid #FD5056;
  }
  
  .story > h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
  }
  
.msgSender{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.74);
  width: 100%;
}

.msg_top{
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding:15px;
}

.msg_top > form{ 
  flex: 1;
  display: flex;
}

.msg_top > form > input{ 
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

@media (max-width:1200px) {
  .msg_top > form  > button{ display: visible;}
  
}
.msg_top > form  > button{ display: none; }

.msg_input{
  flex: 1;
}

.msg_bot{
  display: flex;
  justify-content: space-evenly;
}

.msg_option{
  padding: 6px 10px;
  color: gray;
  margin: 5px;
  text-align: center;
}

.msg_option > h6{
  font-size: medium;
  margin-right: 10px;
  display: inline;
}
.msg_option:hover{
  background-color: #eff2f5;
  border-radius: 8px;
  cursor: pointer;
}
.post_options{
  color:rgb(130,131,134);
}
.opt{
  padding:3px 5%;
  border-radius: 5px;
}
.opt:hover{
  background-color: rgb(242,242,242);
  cursor:pointer;
}
.cards, .w-items {
  margin: 10 15px;
  padding: 5px;
  font-size: 0.9rem;
}

.cards > img{
  margin: 0 10px;
}
.cards:hover, .w-items:hover{
  background-color:rgb(228,230,233);
  cursor:pointer;
  padding: 5px;
}

.msg-iconfoot  button{
  border: none;
  margin: 0 5px;
  border-radius: 50%;
  padding: 5px;
}

.msg-iconfoot  button:hover{
  background-color:rgb(220,220,220);

}


.mod2B button{
  background-color: rgb(255,255,255);
  border: none;
  border-radius: 5px;
}

.mod2B button:hover{
  background-color: rgb(240,240,240);
}

.mod2B p{
  font-weight:500;
}

.middle a {
  border: none;
  outline: none;
}
.friendsMenu strong{
  font-weight: 600;
}

.friendsMenu button{
  border: none;
  outline: none;
  border-radius: 8px;
}

.friendsMenu button:hover{
  background-color: rgb(240,242,245);
}
.marketLink p{
  padding: 3px;
  width: 100%;
}
.marketLink p:hover{
  background-color: rgb(240,242,245);
cursor: pointer;
}

.GrpCard h3 a:hover{
  color: red;
  text-decoration: underline;

}

.GrpCard h3 a{
  text-decoration: none;
}

#grpButton:hover{
  background-color: rgb(242,242,242);
}

.M-item{
  background-color: #FFFFFF;
  border-radius: 6px;
  padding:  8px;
}

.SideBody img{
  margin-right: 15px;
}


.Log img{
  margin-right: 15px;
}